<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Artist Info</title>
</head>
<body>
    <form th:action="@{/artist/create}" method="post" th:object="${artistForm}">
        <dl>
            <dt><label for="name">Name</label></dt>
            <dd>
                <input type="text" id="name" name="name" th:field="*{name}" th:errorclass="error-input" />
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" />
            </dd>
        </dl>
        <dl>
            <dt><label class="custom-control">Gender</label></dt>
            <dd>
                <div class="custom-control custom-radio" th:each="gender : ${genderItems}">
                    <input type="radio" class="custom-control-input" th:value="${gender.key}" th:field="*{gender}" />
                    <label class="custom-control-label" th:for="${#ids.prev('gender')}" th:text="#{${gender.value}}"></label>
                </div>
                <span th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}" />
            </dd>
        </dl>
        <dl>
            <dt><label for="birthday">Birthday</label></dt>
            <dd>
                <input type="date" id="birthday" name="birthday" th:field="*{birthday}" placeholder="yyyy/mm/dd" th:errorclass="error-input"/>
                <span th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}" />
            </dd>
        </dl>
        <input th:type="submit" value="Add" />
    </form>
    <form th:action="@{/artist/top}" method="get">
        <input th:type="submit" value="Back" />
    </form>
</body>
</html>