<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title.create}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <form th:action="@{/artist/create}" method="post" th:object="${artistForm}">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="name" th:text="#{lable.name}"></label>
                <input type="text"  class="form-control" id="name" name="name" th:field="*{name}" th:errorclass="error-input" />
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" />
            </div>
        </div>

        <dl>
            <dt><label class="custom-control" th:text="#{lable.gender}"></label></dt>
            <dd>
                <div class="custom-control custom-radio" th:each="gender : ${genderItems}">
                    <input type="radio" class="custom-control-input" th:value="${gender.key}" th:field="*{gender}" />
                    <label class="custom-control-label" th:for="${#ids.prev('gender')}" th:text="#{${gender.value}}"></label>
                </div>
                <span th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}" />
            </dd>
        </dl>
        <dl>
            <dt><label for="birthday" th:text="#{lable.birthday}"></label></dt>
            <dd>
                <input type="date" id="birthday" name="birthday" th:field="*{birthday}" placeholder="yyyy/mm/dd" th:errorclass="error-input"/>
                <span th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}" />
            </dd>
        </dl>
        <input th:type="submit" th:value="#{button.create}" /><br>
        <a href="/artist/top" th:text="#{button.back}"></a>
    </form>
</body>
</html>