<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title.list}" />
    <link th:if="${lang == 'mn'}" href="/static/css/mongolian.css" th:href="@{/static/css/mongolian.css}" rel="stylesheet"></link>
    <script language="JavaScript">
        function changeFont(type) {
            var links = document.getElementsByTagName('a')
            for(var i=0;i<links.length;i++) {
                links[i].style.fontFamily = "Mongolian Title" + type
            }
        }
    </script>
</head>
<body>

<a href="/artist/list?lang=mn" data-th-text="#{link.mongolian}"></a>
<a href="/artist/list?lang=ja" data-th-text="#{link.japanese}"></a>
<a href="/artist/list?lang=en" data-th-text="#{link.english}"></a>

<div th:if="${lang == 'mn'}">
    <img class="changeFont" src="/img/title1.jpg" name="title1" onClick="changeFont(1)" />&nbsp;
    <img class="changeFont" src="/img/title2.jpg" name="title2" onClick="changeFont(2)" />&nbsp;
    <img class="changeFont" src="/img/title3.jpg" name="title3" onClick="changeFont(3)" />&nbsp;
    <img class="changeFont" src="/img/title4.jpg" name="title4" onClick="changeFont(4)" />
</div>

<form th:action="@{/artist/list}" method="get" th:object="${searchForm}">
    <label th:text="#{lable.name}"></label>
    <input type="text" id="name" name="name" th:field="*{name}" />
    <input type="submit" name="form" th:value="#{button.search}"></input>
</form>
<form th:action="@{/artist/create}" method="get">
    <input type="submit" name="form" th:value="#{button.create}">
</form>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col"><label th:text="#{lable.id}"></label></th>
            <th scope="col"><label th:text="#{lable.name}"></label></th>
            <th scope="col"><label th:text="#{lable.gender}"></label></th>
            <th scope="col"><label th:text="#{lable.birthday}"></label></th>
            <th scope="col" rowspan="2"><label th:text="#{lable.operation}"></label></th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="artist : ${artists}">
            <td th:text="${artist.id}">id</td>
            <td th:text="${artist.name}">name</td>
            <td th:if="${artist.gender eq '1'}"><label th:text="#{lable.six.female}"></label></td>
            <td th:if="${artist.gender eq '2'}"><label th:text="#{lable.six.male}"></label></td>
            <td th:text="${#temporals.format(artist.birthday,'yyyy/MM/dd')}">birthday
            </td>
            <td>
                <form th:action="@{/artist/edit}" method="get">
                    <input type="submit" name="form" th:value="#{button.edit}">
                    <input type="hidden" name="id" th:value="${artist.id}">
                </form>
            </td>
            <td>
                <form th:action="@{/artist/delete}" method="post">
                    <input type="submit" name="form" th:value="#{button.delete}">
                    <input type="hidden" name="id" th:value="${artist.id}">
                </form>
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>